* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  padding: 10px 0 3px 0;
  font-size: 35px;
}
h2 {
  font-size: 30px;
}
h4 {
  font-size: larger;
}
p{
  font-size: 20px;
}



.main-heading {
  background-color: white;
  text-align: center;
}
#user-icon {
  font-size: 40px;
}


/*----------------------------
--------footer start--------
-----------------------------*/
.fas {
  font-size: 22px;
}
/*--------------------------
--------footer end--------
----------------------------*/


/*----------------------
------media query-----
-----------------------*/
@media screen and (max-width: 680px) {
  h1 {
    font-size: 25px;
  }
}