* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  padding: 10px 0 3px 0;
  font-size: 35px;
}
h2 {
  font-size: 30px;
}
h4 {
  font-size: larger;
}
p{
  font-size: 20px;
}

.fas {
  font-size: 22px;
}



/*----------------------------
--------header start--------
-----------------------------*/

.custom-nav-link:hover {
  border-top: 8px solid orange;
}

.main-heading {
  background: linear-gradient(to right, rgb(235, 235, 235), white, white, white, white, white, white, white, rgb(235, 235, 235));
  text-align: center;
}
#user-icon {
  font-size: 40px;
}
/*----------------------------
--------header end---------
-----------------------------*/



/*----------------------------
---------main start----------
-----------------------------*/

/*----------------------------
----------main end-----------
-----------------------------*/



/*----------------------------
--------footer start--------
-----------------------------*/
footer {
  background: lightgray;
}
.footer-details {
  text-align: center;
}
/*--------------------------
--------footer end--------
----------------------------*/


/*----------------------
------media query-----
-----------------------*/
@media screen and (max-width: 680px) {
  h1 {
    font-size: 25px;
  }
}